body{
  background-color:honeydew;
  font-family: Arial, sans-serif;

}
.container{
  margin: 230px auto;
max-width:600px;

}
h1{
  font-weight: 800;
  font-size: 38px;
  line-height: 1.5;
  color: #060270;
  text-align: center;
}
header{
  margin: 40px auto;
  padding:20px;

}
#ingredient-form{
  margin: 30px auto;
  padding: 15px;
  border-radius: 25px;
}
.AddYourIngredients{
margin: 30px auto;
  padding: 15px;
  border-radius: 25px;

}
#addIngrerdients{
  margin: 30px auto;
    padding: 15px;
    border-radius: 25px;
}