body{
  background-color:honeydew;
  font-family: Arial, sans-serif;

}
a{
  color:rgb(59, 55, 175);
  text-decoration: none;
}
.container{
  margin: 60px auto;
max-width:700px;

}

header{
  margin-bottom: 30px;
  padding:10px;
  
}
h1{
  font-weight: 800;
  font-size: 35px;
  color: #060270;
  text-align: center;
}


h2 {
font-weight: 650;
font-size: 18px;

color: rgb(6, 2, 112);
text-align: center;
}
#recipeGeneratorForm{
  padding: 10px;
  display: flex;
}
.AddYourIngredients{  
margin: 30px auto;
  padding: 10px;
 width:70%;
 background-color: rgba(171, 219, 227, 0.6);
  border-radius: 25px;
  border-color: #060270;
  font-size: 16px;
  line-height: 1.5;

}
#addIngredients {
  margin: 30px auto;
    padding: 20px;
    margin-left: 20px;
    border-radius: 25px;
    border: 2px solid #060270;
    background-color: rgba(6, 2, 112, 0.6);
    color:honeydew;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
}
#addIngredients:hover {
  background-color: #a9e8de;
}
.ingredientsList{
margin-left: 40px;
padding-bottom: 30px;
font-size: 20px;
font-weight: 450;

}

#ingredient-list{
  font-size: 18px;
text-align: left;
    margin: 10px 20px;
    width: 80%;
    padding: 20px;
    line-height: 1.5;
    list-style-type:circle;
    
   
  }
#generateRecipe {
  display: none;
  opacity: 0;
  transition: opacity 0.8s ease;
}

#generateRecipe.visible{
  display: inline-block;
  opacity: 1;
  margin: 30px auto;
  padding: 20px;
  margin-left: 20px;
  border-radius: 25px;
  border: 2px solid #060270;
  font-size: 16px;
  font-weight:600;
  background-color: rgba(6, 2, 112, 0.6);
  color: honeydew;
  cursor: pointer;

}
#generateRecipe.visible:hover {
  background-color: #a9e8de;
}

.recipe-header{
  display: flex;
  align-items:  center;
  gap: 100px;
  margin-top: 10px;
}

.recipe-header strong {
  font-size: 25px;
  color: #060270;
}

.creating-recipe {
  font-style: italic;
  color: #060270;
  background-color: rgba(171, 219, 227, 0.3);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  display: inline-block;
}
@media (max-width: 600px) {
  .recipe-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
#recipeResult{
  display:flexbox;
  font-size: 16px;
  margin-top: 30px;
  padding: 10px;
  margin: 0 auto;

}